@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html, body{
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #181a1b05;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #424242;
    min-width: 100%;
    min-height: 12%;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    font-size: 36px;
    padding: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 50px;
}
.header .addBtn{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    margin-right: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button{
    border:0;
}
.header .addBtn:hover{
    border: 0;
    margin-right:25px;
    background-color: rgb(207, 207, 207);
}
.header .addBtn h3{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
.header .addBtn span{
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: #5c6bc0;
    font-weight: normal;
    font-style: normal;
    line-height: 35px;     /*IMPORTANT FOR ALIGN PROPERLY*/
    font-family: 'Material Icons';
}
.showBooks{
    max-width: 1200px;
    padding: 50px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px 15px;
    margin: 25px auto 0 auto;
}
.cardBook{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #5c6bc0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}  
.cardBookUpper{
    display:flex;
    height: 40%;
    border-bottom: 2px solid rgba(150, 150, 150, 0.363);
    overflow:hidden;
}   
.cardBookUpper img{
    max-width: 100%;
    min-width: 100%;

}
.cardBookLower{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: white;
} 
.cardBookLower h3{
    margin: 0 0 10px 0;
}  

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}



.md-show {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
    display:flex;
    flex-direction: column;
    padding: 25px;
	color: white;
    font-family: 'Roboto', sans-serif;
	background: #424242;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.close-modal {
    position:absolute;
    height: 20px;
    top: -40px;
    right: -20px;
}
.close-modal span{
    font-family: "Material Icons";
    font-size: 50px;
    cursor:pointer;
    color: #fc665c;
    transition: color 0.7s;
}
.close-modal span:hover{
    color: #ba000d;
}
.delete-book {
    position:absolute;
    width: 100%;
    height: 100%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.delete-book-show {
    visibility: visible;
    opacity: 0.5;
}
.dbs-content {
    width: 100%;
    height: 100%;
	color: white;
    font-family: 'Roboto', sans-serif;
	background: #424242;
}
.dbs-effect-1 .dbs-content {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.delete-book-show.dbs-effect-1 .dbs-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 0.5;
}
.delete-book .dbs-content span {
    font-family: "Material Icons";
    font-size: 50px;
    cursor:pointer;
    color: #fc665c;
    transition: color 0.7s;
}
.inputs-containers {
    margin-top: 20px;
}
input {
    outline:none;
}
.checker-container {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}
.checker-container input {
    margin-left: 20px;
}
.slider-container {
    display: flex;
    width: 100%;
    align-content: center;
    margin-top: 20px;
  }

.slider {
    width: 50%;
}
.slider-container p {
    margin-left: 25px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
    .showBooks{
        grid-template-columns: 1fr;
    }
    .header h1{
        margin: 0 0 0 6px;
    }
  }